# Integration Service Repo code owners
# Currently global but can be assigned specific filetypes/directories as needed

# Krunoslav Pavic
* @dirgim

# Hongwei Liu
* @hongweiliu17

# Jiří Sztuka
* @jsztuka

# Josh Everett
* @Josh-Everett

# Kasem Alem
* @kasemAlem

# Sonam Maheshwari
* @sonam1412

# Deheeraj Singh Jodha
* @dheerajodha

# Ryan Cole
* @14rcole

# Jennefer Cullinan
* @jencull

# Pat O'Connor
* @chipspeak