---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tekton-editor-role
rules:
  - apiGroups:
      - triggers.tekton.dev
    resources:
      - eventlisteners
      - triggers
      - triggertemplates
    verbs:
      - create
      - update
      - patch
      - delete
      - watch
      - list
  - verbs:
      - get
      - list
      - create
      - watch
    resources:
      - persistentvolumeclaims
      - persistentvolumeclaims/status
    apiGroups:
      - ""
  - verbs:
      - get
      - list
      - create
      - watch
    resources:
      - routes
    apiGroups:
      - route.openshift.io
  - apiGroups:
      - resolution.tekton.dev
    resources:
      - resolutionrequests
    verbs:
      - create
      - delete
      - get
      - list
      - watch
